body {
  height: auto;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #131212;
  padding-bottom: 5%;
}

#nav {
  width: 100%;
  background: rgb(58, 54, 54);
  height: auto;
  top: 0;
  margin-top: -3%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  opacity: 0.97;

    ul {    
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 2vw;
    }

    li {
      padding: 0.75% 0.25%;
    }

    a {
      color: rgb(241, 229, 223);/*rgb(143, 236, 224)*/
      text-shadow: 0.5px 0.5px 0.45px rgb(0, 0, 0);
    }

    a:hover {
      color: rgb(168, 85, 7);
    }
}

#customer-wrap {
  width: 90%;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 25px;
  padding-bottom: 3%;
  border: 1.5px solid rgb(132, 218, 124);
}

header {
  padding: 3% 0;
  border-radius: 25px;

    h1 {
      font-size: 4vw;
      text-align: center;
    }

    p {
      font-size: 1.4vw;
      font-weight: 600;
      text-align: center;
    }
}

#work-title {
  text-align: center;
  font-size: 3vw;
  padding: 2% 0;
  border-bottom: 5px solid rgb(132, 218, 124);
  width: 75%;
  margin-left: 12.5%;
}

#work-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;

    img {
      margin-bottom: 0.5%;
      box-shadow: 2px 2px 8px blue;
    }
}


footer {
  margin-top: 20%;
  width: 100%;

    p {
      text-align: center;
      color: white;
      font-size: 1.2vw;
    }

    #ko-coding {
      font-size: 0.95vw;
    }

    span {
      color: rgb(0, 119, 255);
    }

    h3 {
      text-align: center;
      font-size: 3vw;
      color: rgb(58, 233, 58);
    }
  }