body {
  height: auto;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #131212;
  padding-bottom: 5%;
}

#body-wrap {
  margin: 0 auto;
  width: 99.99%;
  height: auto;
}

#nav {
  width: 100%;
  background: #3a3636;
  height: auto;
  top: 0.025%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  opacity: 0.97;
}

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2vw;
}

#nav li {
  padding: 0.75% 0.25%;
}

#nav a {
  color: #f1e5df;
  /*rgb(143, 236, 224)*/
  text-shadow: 0.5px 0.5px 0.45px black;
}

#nav a:hover {
  color: #a85507;
}

#services-nav {
  margin-top: 21.5%;
}

#main-top {
  height: 85vh;
  width: 100%;
  background: url(https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_1046/v1555367190/main-salon.png);
  background-size: cover;
  margin-top: -3.75%;
  font-weight: 750;
  text-shadow: 4.5px 3.8px 3px #7c153d;
  border-radius: 50px;
  -webkit-box-shadow: 10px 5px 100px #84e4c4;
          box-shadow: 10px 5px 100px #84e4c4;
}

#main-top p {
  font-family: 'Calligraffitti', cursive;
  padding-top: 28%;
  margin-left: 33.5%;
  font-size: 4.75vw;
  color: #d7db5c;
}

#appointment {
  position: relative;
}

#appointment #appointment-title {
  text-align: center;
  font-size: 3.3vw;
  color: #eeff01;
  text-shadow: 1.6px 1px 1px #dd8181;
}

#appointment #point-right {
  position: absolute;
  margin-left: 26%;
}

#appointment #point-left {
  position: absolute;
  margin-left: 62%;
}

#appointment #apt-button {
  height: 100%;
  width: 100%;
  padding: 1.6% 1.3% 1.6% 1.6%;
  color: #5a0c69;
}

#appointment #apt-button div {
  height: 75px;
  width: 220px;
  background: #3accd6;
  margin-left: 41%;
  margin-top: 3%;
  display: inline-block;
  font-size: 2.2vw;
  border-radius: 50px;
  border: 2.5px inset #a6ff00;
  -webkit-box-shadow: 2px 2.2px 2px #008cff;
          box-shadow: 2px 2.2px 2px #008cff;
}

#appointment #apt-button div p {
  margin-top: 8%;
  margin-left: 8%;
  text-shadow: 1px -1px 0.5px black;
}

hr {
  margin-bottom: 20%;
  margin-top: 10%;
}

.hair-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/v1555466827/getting-haircut.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 33%;
  z-index: 9999;
}

.extensions-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,h_400,w_600/v1555466783/Tape-In-Hair-Extensions.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 33%;
  z-index: 9999;
}

.beauty-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,h_350,w_600/v1555466798/Oriflame-Beauty-And-Skin-Care-Products-Top-15.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 33%;
  z-index: 9999;
}

.nails-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_600/v1555466817/nails-done.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 5%;
  z-index: 9999;
}

.tan-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,h_350,w_550/v1555466768/sunless-tan.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 5%;
  z-index: 9999;
}

#services {
  margin-top: 25%;
  height: 50vh;
  width: 100%;
}

#services p {
  position: absolute;
  font-size: 3.4vw;
  z-index: 2;
  color: white;
  text-shadow: 3px -3px 5px #770c46;
}

#services .right {
  margin-top: -7%;
  margin-left: 40%;
  font-family: 'Playfair Display', serif;
}

#services .left {
  margin-top: -10%;
  margin-left: 46%;
  font-family: 'Playfair Display', serif;
}

#services .right-img {
  z-index: 2;
  position: absolute;
  margin-top: 3.5%;
  margin-left: 70%;
}

#services .left-img {
  z-index: 2;
  position: absolute;
  margin-top: 3.5%;
  margin-left: 3%;
}

#services .serviceDesc {
  font-size: 2.3vw;
  margin-left: 15%;
  width: 70%;
  margin-bottom: 3%;
  padding-bottom: 3%;
}

#services h2 {
  text-align: center;
  font-size: 5vw;
  font-family: 'Calligraffitti', cursive;
  margin-bottom: 18%;
  color: white;
  text-shadow: 1.5px 2.5px 4px #5b39af;
}

#reviews {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 5px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 0.75fr 0.75fr;
  -ms-grid-rows: 0.25fr;
  grid-template-rows: 0.25fr;
      grid-template-areas: ". .";
  margin-top: 300%;
  height: 400px;
  width: 500px;
}

.yelp-review {
  margin: 1%;
  height: 100%;
  width: 320px;
}

#location {
  width: 100%;
}

#location p#directions {
  width: 45%;
  color: white;
  float: right;
  margin-top: 17%;
  font-size: 1.7vw;
  font-family: 'Playfair Display', serif;
}

#location p#phone {
  width: 45%;
  color: white;
  float: right;
  padding-left: 70%;
  margin-top: -22%;
  font-size: 1.9vw;
  font-family: 'Playfair Display', serif;
}

#location p#hours {
  width: 45%;
  color: white;
  float: right;
  padding-left: 70%;
  margin-top: -9%;
  font-size: 1.9vw;
  font-family: 'Playfair Display', serif;
}

#location p:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  border-bottom: 1px solid white;
}

iframe {
  margin-top: 15%;
  margin-left: 3%;
}

#shop {
  height: 98vh;
  width: 69vw;
  margin-top: 320.5%;
  margin-left: 14.5%;
  z-index: 9999;
  border-radius: 35%;
  border: 2.5px solid #146aa3;
  -webkit-box-shadow: 25px 25px 40px #66a355, -25px -25px 40px #66a355;
          box-shadow: 25px 25px 40px #66a355, -25px -25px 40px #66a355;
}

#shop-container {
  margin-top: 5%;
  padding-top: 5%;
}

footer {
  margin-top: 20%;
  width: 100%;
}

footer p {
  text-align: center;
  color: white;
  font-size: 1.2vw;
}

footer #ko-coding {
  font-size: 0.95vw;
}

footer span {
  color: #0077ff;
}

footer h3 {
  text-align: center;
  font-size: 3vw;
  color: #3ae93a;
}

@media screen and (max-width: 1325px) {
  #nav ul {
    font-size: 2.2vw;
  }
  #shop-container {
    margin-top: 1%;
  }
  .right-img, .left-img {
    height: 330px;
    width: 330px;
    padding-top: 0%;
  }
  #services .right-img {
    margin-left: 67%;
  }
  .hair-img, .nails-img, .extensions-img, .tan-img, .beauty-img {
    height: 60vh;
    width: 50vw;
    background-size: 58%;
  }
  .hair-img, .extensions-img, .beauty-img {
    margin-left: 40%;
  }
  .nails-img, .tan-img {
    margin-left: 8.25%;
  }
  img.left-img {
    padding-left: 5%;
  }
  #location p#phone {
    margin-top: -26%;
  }
  #location p#hours {
    margin-top: -14%;
  }
}

@media screen and (max-width: 1150px) {
  #nav ul {
    font-size: 2.4vw;
  }
  #location p#phone {
    margin-top: -33%;
  }
  #location p#hours {
    margin-top: -19%;
  }
  #location p#hours {
    font-size: 2.3vw;
  }
  #location p#directions {
    font-size: 2vw;
  }
  #location p#phone {
    font-size: 2.05vw;
    width: 47%;
  }
  #location #closed {
    margin-left: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */