body {
  height: auto;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #131212;
  padding-bottom: 5%;
}

#body-wrap {
  margin: 0 auto;
  width: 99.99%;
  height: auto;
}

#nav {
  width: 100%;
  background: rgb(58, 54, 54);
  height: auto;
  top: 0.025%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99999;
  opacity: 0.97;

    ul {    
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 2vw;
    }

    li {
      padding: 0.75% 0.25%;
    }

    a {
      color: rgb(241, 229, 223);/*rgb(143, 236, 224)*/
      text-shadow: 0.5px 0.5px 0.45px rgb(0, 0, 0);
    }

    a:hover {
      color: rgb(168, 85, 7);
    }
}

#services-nav {
  margin-top: 21.5%;
}

#main-top {
  height: 85vh;
  width: 100%;
  background: url(https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_1046/v1555367190/main-salon.png);
  background-size: cover;
  margin-top: -3.75%;
  font-weight: 750;
  text-shadow: 4.5px 3.8px 3px rgb(124, 21, 61);
  border-radius: 50px;
  box-shadow: 10px 5px 100px #84e4c4;
}

#main-top p {
font-family: 'Calligraffitti',
cursive;
  padding-top: 28%;
  margin-left: 33.5%;
  font-size: 4.75vw;
  color: #d7db5c;
}

#appointment {
  position: relative;

    #appointment-title {
      text-align: center;
      font-size: 3.3vw;

        a {
          color: rgb(76, 204, 114);
      }
  }

  #point-right {
    position: absolute;
    margin-left: 26%;
  }

  #point-left {
    position: absolute;
    margin-left: 62%;
  }

  button {
    margin-left: 42.5%;
    margin-top: 3%;
    width: 15%;
    padding: 1.5% 1% 1.5% 1.5%;
    font-size: 1.5vw;
    border-radius: 25px;

      #apt-button {
        padding: 1.6% 1.1% 1.6% 1.6%;
      }
  }
  
}

hr {
  margin-bottom: 20%;
  margin-top: 10%;
}

.hair-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/v1555466827/getting-haircut.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 33%;
  z-index: 9999;
}

.extensions-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,h_400,w_600/v1555466783/Tape-In-Hair-Extensions.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 33%;
  z-index: 9999;
}

.beauty-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,h_350,w_600/v1555466798/Oriflame-Beauty-And-Skin-Care-Products-Top-15.jpg");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 33%;
  z-index: 9999;
}

.nails-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,w_600/v1555466817/nails-done.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 5%;
  z-index: 9999;
}

.tan-img {
  height: 70vh;
  width: 60vw;
  background-image: url("https://res.cloudinary.com/dmks1qdth/image/upload/c_scale,h_350,w_550/v1555466768/sunless-tan.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70%;
  margin-left: 5%;
  z-index: 9999;
}

#services {
  margin-top: 25%;
  height: 50vh;
  width: 100%;

    p {
      position: absolute;
      font-size: 3.4vw;
      z-index: 2;
      color: white;
      text-shadow: 3px -3px 5px #770c46;
    }

    .right {
      margin-top: -7%;
      margin-left: 40%;
      font-family: 'Playfair Display',
      serif;
    }

    .left {
      margin-top: -10%;
      margin-left: 46%;
      font-family: 'Playfair Display',
      serif;
    }

    .right-img {
      z-index: 2;
      position: absolute;
      margin-top: 3.5%;
      margin-left: 70%;
      
    }

    .left-img {
      z-index: 2;
      position: absolute;
      margin-top: 3.5%;
      margin-left: 3%;
     
    }

    .serviceDesc {
      font-size: 2.3vw;
      margin-left: 15%;
      width: 70%;
      margin-bottom: 3%;
      padding-bottom: 3%;
    }
}

#services h2 {
  text-align: center;
  font-size: 5vw;
  font-family: 'Calligraffitti',
  cursive;
  margin-bottom: 18%;
  color: white;
  text-shadow: 1.5px 2.5px 4px #5b39af;
}

#reviews {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 5px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 0.75fr 0.75fr;
  -ms-grid-rows: 0.25fr;
  grid-template-rows: 0.25fr;
  grid-template-areas: ". .";
  margin-top: 300%;
  height: 400px;
  width: 500px;
}

.yelp-review {
  margin: 1%;
  height: 100%;
  width: 320px;
}

#location {
  width: 100%;

    p#directions {
      width: 45%;
      color: white;
      float: right;
      margin-top: 17%;
      font-size: 1.7vw;
      font-family: 'Playfair Display',
      serif;
    }

    p#phone {
      width: 45%;
      color: white;
      float: right;
      padding-left: 70%;
      margin-top: -22%;
      font-size: 1.9vw;
      font-family: 'Playfair Display',
      serif;
    }

    p#hours {
      width: 45%;
      color: white;
      float: right;
      padding-left: 70%;
      margin-top: -9%;
      font-size: 1.9vw;
      font-family: 'Playfair Display',
      serif;
    }

    p:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 50%;
      padding-top: 20px;
      border-bottom: 1px solid white;
    }
}

iframe {
  margin-top: 15%;
  margin-left: 3%;
}



#shop {
  height: 98vh;
  width: 69vw;
  margin-top: 320.5%;
  margin-left: 14.5%;
  z-index: 9999;
  border-radius: 35%;
  border: 2.5px solid rgb(20, 106, 163);
  box-shadow: 25px 25px 40px #66a355,
  -25px -25px 40px #66a355;
}

#shop-container {
  margin-top: 5%;
  padding-top: 5%;
}

footer {
  margin-top: 20%;
  width: 100%;

    p {
      text-align: center;
      color: white;
      font-size: 1.2vw;
    }

    #ko-coding {
      font-size: 0.95vw;
    }

    span {
      color: rgb(0, 119, 255);
    }

    h3 {
      text-align: center;
      font-size: 3vw;
      color: rgb(58, 233, 58);
    }
  }

  @media screen and (max-width: 1325px) {
    #nav ul {
      font-size: 2.2vw;
    }

    #shop-container {
      margin-top: 1%;
    }

    .right-img, .left-img {
      height: 330px;
      width: 330px;
      padding-top: 0%;
    }

    #services .right-img {
      margin-left: 67%;
    }

    .hair-img, .nails-img, .extensions-img, .tan-img, .beauty-img {
      height: 60vh;
      width: 50vw;
      background-size: 58%;
    }

    .hair-img, .extensions-img, .beauty-img {
      margin-left: 40%;
    }

    .nails-img, .tan-img {
      margin-left: 8.25%;
    }

    img.left-img {
      padding-left: 5%;
    }

    #location p#phone {
      margin-top: -26%;
    }

    #location p#hours {
      margin-top: -14%;
    }
  }

  @media screen and (max-width: 1150px) {
    #nav ul {
      font-size: 2.4vw;
    }

    #location p#phone {
      margin-top: -33%;
    }

    #location p#hours {
      margin-top: -19%;
    }

    #location {

      p#hours {
        font-size: 2.3vw;
      }

      p#directions {
        font-size: 2vw;
      }

      p#phone {
        font-size: 2.05vw;
        width: 47%;
      }

      #closed {
        margin-left: 30%;
      }
    }
  }



